<body>
  <section id="contacto">
    <div class="fila">
      <div class="col">
        <h1>La gran Casona</h1>
      </div>
      <div class="col">
        <h3>Menú</h3>
        <a href="home">Inicio</a>
        <a href="sabores">Sabores</a>
        <a href="platos">Platos</a>
        <a href="blog">Blog</a>
      </div>
      <div class="col">
        <h3>Cheffs</h3>
        <a href="blog">Marcos G.</a>
        <a href="blog">María L.</a>
        <a href="#">Marta J.</a>
      </div>
      <div class="col">
        <h3>Social Media</h3>
        <div class="media">
          <i class="fa-brands fa-twitter"></i> <a href="https://twitter.com">Twitter</a>
        </div>
        <div class="media">
          <i class="fa-brands fa-instagram"></i> <a href="https://www.instagram.com/">Instagram</a>
        </div>
      </div>
      <div class="col">
        <h3>Subscripción</h3>
        <input type="text" placeholder="Tu correo">
        <input type="submit" class="enviar">
      </div>
    </div>
  </section>
</body>
