<section id="blog">
  <h2>Reseñas de Nuestro Blog</h2>
  <p>¡Bienvenidos al blog de La Gran Cascona! Aquí encontrarás artículos sobre la gastronomía de la sierra y sus sabores
    únicos, así como recomendaciones de nuestros platos estrella y noticias sobre nuestra cocina. <br>Descubre la pasión
    que ponemos en cada uno de nuestros platillos y los secretos detrás de nuestras recetas. <br>¡Acompáñanos en este
    viaje culinario y comparte con nosotros tu amor por la comida!</p>
  <div class="galeria-blog js-flickity" data-flickity-options='{ "wrapAround":true, "pageDots": true}'>
    <div class="gallery-cell">
      <div class="item">
        <div class="foto">
          <img src="assets/img/cheff1.jpg" alt="">
        </div>
        <div class="info">
          <h3>El arte de cocinar</h3>
          <p>La Gran Casaona ofrece una selección de platos típicos de la sierra con una combinación única de sabores.
            Me encantó su pollo a la brasa, ¡definitivamente una delicia para el paladar!</p>
        </div>
      </div>
    </div>
    <div class="gallery-cell">
      <div class="item">
        <div class="foto">
          <img src="assets/img/cheff2.jpg" alt="">
        </div>
        <div class="info">
          <h3>¿Innovación en la cocina?</h3>
          <p>La variedad de pastas que ofrece La Gran Casaona es impresionante, desde las clásicas hasta las más
            innovadoras. Recomiendo probar su lasagna, es una de las mejores que he probado.</p>
        </div>
      </div>
    </div>
    <div class="gallery-cell">
      <div class="item">
        <div class="foto">
          <img src="assets/img/cheff3.jpg" alt="">
        </div>
        <div class="info">
          <h3>La cocina del 2023</h3>
          <p>Los postres de La Gran Casaona son verdaderamente espectaculares. Su helado de frutas es una deliciosa
            combinación de sabores frescos y cremosos, ¡lo recomiendo altamente.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="button-container">
    <a href="home"><button>Ver Más</button></a>
  </div>
</section>
