<section id="sabores">
  <h2>Sabores de todos los dias !!!</h2>
  <br>
  <p class="p1">Los sabores son una parte fundamental.<br>Con una amplia variedad de postres, pastas y ensaladas,
    nuestros clientes pueden disfrutar de una explosión de sabores en cada bocado.Desde los sabores más
    tradicionales hasta los más innovadores, nuestra cocina está diseñada para satisfacer los paladares más exigentes.
  </p>
  <br>
  <div class="fila">
    <div class="item">
      <div class="icono">
        <img src="assets/img/sabor1.png" alt="">
      </div>
      <div class="info">
        <h3>Ensaladas</h3>
        <p>Frescas y llenas de sabor, nuestras ensaladas son la opción saludable perfecta para cualquier comida</p>
      </div>
    </div>
    <div class="item">
      <div class="icono">
        <img src="assets/img/sabor2.png" alt="">
      </div>
      <div class="info">
        <h3>Tortas</h3>
        <p> Cada bocado es una deliciosa sorpresa, con nuestros sabores únicos y decoración de alta calidad</p>
      </div>
    </div>
    <div class="item">
      <div class="icono">
        <img src="assets/img/sabor3.png" alt="">
      </div>
      <div class="info">
        <h3>Hamburguesas</h3>
        <p>Jugosas y llenas de sabor, nuestras hamburguesas son la elección perfecta para satisfacer cualquier antojo
        </p>
      </div>
    </div>
  </div>
  <div class="fila">
    <div class="item">
      <div class="icono">
        <img src="assets/img/sabor4.png" alt="">
      </div>
      <div class="info">
        <h3>Helados</h3>
        <p>Nuestros helados artesanales son el complemento ideal para cualquier postre o simplemente para disfrutar en
          una tarde calurosa..</p>
      </div>
    </div>
    <div class="item">
      <div class="icono">
        <img src="assets/img/sabor5.png" alt="">
      </div>
      <div class="info">
        <h3>Pastas</h3>
        <p>Preparadas con los mejores ingredientes y una variedad de salsas, nuestras pastas son la opción reconfortante
          para cualquier cena</p>
      </div>
    </div>
    <div class="item">
      <div class="icono">
        <img src="assets/img/sabor6.png" alt="">
      </div>
      <div class="info">
        <h3>Galletas</h3>
        <p>Hechas a mano y horneadas diariamente, nuestras galletas son una delicia crujiente y dulce para cualquier
          momento del día.</p>
      </div>
    </div>
  </div>
  <div class="button-container">
    <a href="home"><button>Ver Más</button></a>
  </div>
</section>
