<body>
  <section id="platos">
    <h2>Platos a la Carta</h2>
    <div class="fila">
      <div class="item">
        <img src="assets/img/plato1.jpg" alt="">
        <p>Chiles Y Alitas De Pollo Frito En Un Plato</p>
      </div>
      <div class="item">
        <img src="assets/img/plato2.jpg" alt="">
        <p>Plato De Ensalada De Pescado</p>
      </div>
      <div class="item">
        <img src="assets/img/plato3.jpg" alt="">
        <p>Plato De Carne Asada Servido En Plato Blanco</p>
      </div>
    </div>
    <div class="fila">
      <div class="item">
        <img src="assets/img/plato4.jpg" alt="">
        <p>Plato de Bife a la Plancha con Papas Fritas</p>
      </div>
      <div class="item">
        <img src="assets/img/plato5.jpg" alt="">
        <p>Plato de Pizza con Rúcula</p>
      </div>
      <div class="item">
        <img src="assets/img/plato6.jpg" alt="">
        <p>Plato de Pastas con Tuco</p>
      </div>
    </div>
    <br>
    <p class="p1">Disfruta de nuestra variedad de platos que incluyen deliciosas pastas, suculentas carnes, jugosos
      pollos y otros
      platillos típicos de la sierra. <br>Todos ellos elaborados con los mejores ingredientes para brindarte un sabor
      único e inolvidable.</p>
    <div class="button-container">
      <a href="home"><button>Ver Más</button></a>
    </div>
    <br>
  </section>
</body>
